@import '_variables.scss';
@import '_mixin.scss';

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Roboto', 'TTFirsNeue', 'sans-serif';
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 31px;
  max-width: $containerMaxwidth;
}

img {
  max-width: 100%;
}

ul {
  @include clearListStyles
}

button {
  @include commonButton
}

p,
h2,
h3 {
  margin: 0;
}

input,
textarea {
  padding-left: 23px;
  height: 50px;
  border: none;
}

input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.meta {
  @include projectMeta
}

.just-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 27px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 21px;
  }

  button {
    padding: 12px 0;
    font-size: 14px;
    line-height: 16px;
  }

  input {
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
}

