$containerMaxwidth: 1352px;
$gridGutterColumn: 30px;
$gridGutterRow: 25px;

// colors
$colorButton: #FF6E30;
$colorHover:  #BC572B;
$colorActive: #CE4307;
$colorValidationAbout: #F06666;
$colorValidationContacts: #FF3030;
$colorTextWhite: #FFF;
$colorFieldWhite: #E9E9E9;
$colorTextOther: #CACACA;
$colorContactsForm: #999;
$colorFieldGrey: #4A4A4A;
$colorAddressBackground: rgba(32, 32, 32, 0.85);
$colorBackground: #202020;
